
*{
    margin: 0px;
    padding: 5px;
   
}
body {
  margin-left: 20vh;
  margin-right: 20vh;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
  justify-content: center;
  box-sizing: border-box;
}

  /* navbar */
.logo {
  width: 120px;
}


.navbar{
  display: flex;
  justify-content: flex-start;
 
}
.nav{
  padding-top: 10px;
  display: flex;
  justify-content: center;

}
nav  {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


.button {
  width: 160px;
  height: 40px;
  border-radius: 3px;
  background-color: #000000;
  
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 40vh;
}
.download{

  padding-top: 10px;
}


.nav__link {
    display: block;
    padding: .3125rem 1.5rem;
    text-transform: uppercase;
  }
  
  .nav__link.active  {
   
    color: #FF5E08;
  }

  /* part-1 */

  .part1 {
    display: inline-flex;
        justify-content: space-between;
        top: 50px !important;
        inset: 0;


    padding: 60px 40px;
}
  
/* .absolute{
  position: absolute;
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
} */
.left {
  max-width: 50%;
}

.part1 h1 {
  font-size: 3em;
  margin: 0 0 20px;
}

.part1 p {
  font-size: 1.2em;
  margin: 0 0 40px;
}

.cta-buttons {
  display: flex;
  gap: 20px;
}

.get-started-btn,
.watch-video-btn {
  background: #000;
  color: #fff;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.watch-video-btn {
  color: #000000;

  background: transparent;
  border: 2px solid #fff;
}

.right {
  max-width: 50%;
}

.right img {
  width: 100%;
}
/* background-effect */


.justify-center{
  justify-content: center;
}

/* background-effect */
.left {
  max-width: 50%;
  position: relative; /* Add this line */
}

.bg-shape1 {
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  position: absolute; /* Change to absolute for proper positioning */
  top: 0; /* Positioning adjustments */
  left: 50%; /* Positioning adjustments */
  transform: translateX(-50%); /* Center the shape horizontally */
  z-index: -1; /* Ensure it's behind the text */
  background: linear-gradient(45deg, #FF5E08, #FDE598); /* Dual color gradient */
  opacity: 0.5; /* Adjust as necessary */
  filter: blur(70px);
}



.opacity-50{
  opacity: .5;
}

.bg-blur{
filter: blur(70px);
}
.bg-primary{
  background: linear-gradient(45deg, #FF5E08, #FDE598); /* Dual color gradient */
}


.part1 h1 p{
position: relative;
}