
*{
    margin: 2;
    padding: 5px;
   
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
}

  
.logo {
  width: 120px;
}


.navbar{
  display: flex;
  justify-content: flex-start;
 
}
.nav{
  padding-top: 10px;
  display: flex;
  justify-content: center;

}
nav  {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


.download{

  padding-top: 10px;
}
.button {
  margin-left: 15vh;

  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}


.nav__link {
    display: block;
    padding: .3125rem 1.5rem;
    text-transform: uppercase;
  }
  
  .nav__link.active  {
   
    color: #FF5E08;
  }