
*{
    margin: 0;
    padding: 0;
   
}

  
.logo {
  width: 120px;
}


.navbar{
  display: flex;
  justify-content: center;
}
.nav{
  display: flex;
  justify-content: center;

}


.nav__link {
    display: block;
    padding: .3125rem 1.5rem;
    text-transform: uppercase;
  }
  
  .nav__link.active  {
   
    color: #FF5E08;
  }