
*{
    margin: 0;
    padding: 0;
   
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
}

  
.logo {
  width: 120px;
}


.navbar{
  display: flex;
  justify-content: center;
}
.nav{
  display: flex;
  justify-content: center;

}
nav  {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.button {
  background: #000;
  /* color: #fff; */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}


.nav__link {
    display: block;
    padding: .3125rem 1.5rem;
    text-transform: uppercase;
  }
  
  .nav__link.active  {
   
    color: #FF5E08;
  }